<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<connectionStrings>
		<add name="ConnectionStringName"
		   connectionString="server=.; database=RestaurantManagement; integrated security=true;" />
	</connectionStrings>
	<!--Lưu ý: Giá trị “ConnectionStringName” là tên của chuỗi kết nối, các giá trị được
in đậm là các giá trị thay đổi theo tên của Server và tên cơ sở dữ liệu trong SQL Server. như localhost,RestaurantManagement -->
</configuration>
